.map {
    height: 500px;
    background-color: wheat;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(255,255,255,1.0);
}

.map .leaflet-container {
    height: 100%;
}