.map {
    height: 500px;
    background-color: wheat;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(255,255,255,1.0);
}

.map .leaflet-container {
    height: 100%;
    background-color: wheat;
}

.popup.leaflet-popup-content-wrapper{
    background-color: wheat;
    opacity: 0.9;
}

.popup.leaflet-popup-tip {
    background: wheat;
}

.popup__container {
    width: 150px;
    /* background-color: wheat; */
}

.popup__flag {
    height: 80px;
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}

.popup__flag img {
    width: 100%;
    border-radius: 5px;
}

.popup__name {
    font-size: 20px;
    font-weight: bold;
}

.popup__confirmed,
.popup__recovered,
.popup__deaths {
    font-size: 16px;
    margin-top: 5px;
}