.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: black;
    background-color: wheat;
}

.table td {
    padding: 0.5rem;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table tr:nth-of-type(odd) {
    background-color: lightyellow;
}